# Dependencies
node_modules
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Build output
build
dist
.next
out

# Editor / System Files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
ehthumbs.db

# OS files
.DS_Store
Icon?
._*
notepad .gitignore

